.error_message{
    padding-right: 20px;
    color: #ff2423;
    font-weight: 400;
}
.error-item{
    border:1px solid #ff2423 !important;
}

.s_form{
    display: none;
}

#subscribeBox{
    margin-top: 7px;
    color: white;
    font-size: 13px;
}